:root {
  --primary: #363237;
  --primary-hover: #2d4262;
  --secondary: #2d4262;
  --tertiary: #73605b;
  --quarternary: #d09683;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-left: 0px;
  padding-right: 0px;
}

body {
  font-family: 'BioRhyme', serif;
  background: url(../image/dot-grid.png) repeat 0 0;
  color: var(--primary);
}

body a {
  color: var(--quarternary);
}

body a:hover {
  color: var(--tertiary);
  text-decoration: none;
  cursor: pointer;
}

header {
  background: var(--primary);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

main {
  margin-top: 100px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background: var(--primary);
}

footer p {
  color: var(--quarternary);
  margin: 0;
}

#logo {
  color: var(--quarternary);
  font-size: 40px;
}

#logo:hover {
  text-decoration: unset;
}

#login {
  color: var(--quarternary);
  background: var(--primary);
  border-radius: 5px;
  padding: 1px 5px;
  margin: 5px;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--quarternary);
  color: var(--quarternary);
}

.btn-primary:hover {
  background-color: var(--quarternary);
  border-color: var(--primary);
  color: var(--primary);
}

.questions-searchbar {
  width: 40%;
}

.navbar .questions-searchbar input {
  width: 100%;
}

.navbar .user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 0 10px 0 10px;
}

.mobile-nav {
  display: none;
}

.btn-primary:focus {
  background-color: var(--primary-hover) !important;
  border-color: var(--quarternary) !important;
  box-shadow: 0 0 0 0.2rem var(--secondary) !important;
  color: var(--quarternary);
}

.show > .btn-primary.dropdown-toggle {
  background-color: var(--primary-hover) !important;
  border-color: var(--secondary) !important;
  box-shadow: 0 0 0 0.2rem var(--secondary) !important;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: var(--primary);
}

.navbar .dropdown-menu {
  width: 100%;
}

/* Home Search Bar */
.homepage .question-button:active {
  background-color: var(--primary-hover) !important;
}

.homepage .question-group {
  background: #ffffff;
}

/* Home filter buttons */
.homepage .questions-buttons-filter > div {
  width: 33.33%;
}

.homepage .questions-buttons-filter button {
  width: 100%;
}

.homepage .questions-buttons-filter button:hover {
  color: var(--quarternary);
  background-color: var(--primary);
}

.homepage .dropdown-menu {
  width: 100%;
}

.homepage .dropdown-item:active {
  background-color: #545b62;
}

.homepage .btn:focus {
  box-shadow: 0 0 0 0.2rem #4e555b;
}

.btn-secondary {
  color: unset;
  background-color: unset;
  border-color: transparent;
}

/* Questions module */
.question-module h2 {
  text-align: center;
}

.question-module p {
  font-size: 20px;
}

.question-module .answers-group {
  text-align: center;
}

.question-module .answers-group > div {
  width: 50%;
  margin: 50px;
}

/* New question form */
.new-question-form textarea.form-control {
  height: 300px;
}

.new-question-form .topic button {
  margin-left: 0.25rem;
  margin-bottom: 0.5rem;
}

/* Question show */

.questions-show-page .question-card {
  background: #ffffff;
}

#answer-trigger,
#delete-trigger {
  width: 30%;
}

.questions-show-page p {
  font-size: 20px;
  margin-top: 10px;
}

/* Profile Detail Page */

.profile-detail-page .left-column,
.profile-detail-page .right-column {
  width: 50%;
}

/***** checkbox style *****/

.answer-not-selected {
  display: none;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: '';
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type='checkbox'] {
  visibility: hidden;
}

.answer-selected .round input[type='checkbox'] + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.answer-selected .round input[type='checkbox'] + label:after {
  opacity: 1;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 989px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  #login-wrapper {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
  }
  main {
    margin-top: 150px;
  }
  .ask-question {
    margin-left: 20px;
    margin-right: 20px;
  }
  .questions-searchbar {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #logo {
    font-size: 25px;
  }

  #login-wrapper {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
  }

  .navbar .user-avatar {
    width: 25px;
    height: 25px;
  }

  main {
    margin-top: 140px;
  }

  .new-question-form .form-group {
    margin: 0px !important;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    padding: 5px;
  }

  p {
    font-size: 15px;
  }

  .question-module {
    margin-left: 5px;
    margin-right: 5px;
  }

  .questions-show-page .question-card,
  .questions-show-page .answer-card {
    margin-left: 5px;
    margin-right: 5px;
  }
}
